*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/test/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/config/database.yml
/config/secrets.yml
/public/uploads
config/settings.local.yml
config/settings/*.local.yml
config/settings/test.yml
config/environments/*.local.yml
.DS_Store
/.idea
.byebug_history
.framgia-ci-reports
/app/views/layouts/test.html.erb
/.framgia-ci-reports/*
.framgia-ci-result.temp.yml
/config/rails_best_practices.yml
